numpy==1.19.5
pandas==1.3.0
tensorflow==2.6.0
tensorflow-probability==0.13.0
keras==2.6.0
cloudpickle==1.6.0
garage==2021.3.0
seaborn==0.11.1
matplotlib==3.4.2
gym==0.18.3
gurobipy==9.1.2
tabulate==0.8.9